body{
    background-color:peachpuff;
}
.signup-button{
    cursor: pointer;
    width: 200px;
    height: 80px;
    border: 10px solid black;
    font-size: 30px;
}

.signup-button:hover{
    transform: scale(1.1);
}

.content-wrapper{
    padding-top: 40px;
}